/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: rgb(40,45,49);
	font-family: 'HelveticaNeue-CondensedBold', helvetica, trebuchet ms, serif;
	overflow: hidden;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
	outline: 0;
}

div.slide {
	box-shadow: 0 0 10px #c0c0c0;
	border-radius: 20px;
	height: 700px;
	padding: 20px;
	position: relative;
	width: 900px;
	background: #FFF;
}
div.bb {
	box-shadow: 0 0 10px #555;
	color: white;
	background: #000;
}

.bb ul li {
	color: white;
}

.bb h2 {
	color: white;
}

.bottomright h1 {
  position: absolute;
  text-align: right;
  bottom: 0.1em;
  right: 0.5em;
}

.rightside li {
  text-align: right;

  right: 0;
}
.rightside  {
  width: 50%;
  right: 0;
  position: absolute;
}

.bottomright li {
  text-align: right;

}
.bottomright ul {
  position: absolute;
  right: 0;
  width: 80%;
}

.bottomright ul li ul {
  list-style-type:none;
}

.lefthalf h1 {
  width: 50%;
}

.highlight {
  	color: rgb(255, 112, 0);
}

.smalltext {
  
}

.bottom {
  position: absolute;
  bottom: 0;
}
/*div.inactiveslide {
	opacity: 0.4;
}
div.activeslide {
	opacity: 1;
}*/

div.footer {
	bottom: 20px;
	color: #404040;
	font-family: arial;
	font-size: 26px;
	position: absolute;
	text-align: center;
	width: 100%;
}

strong {
	text-shadow: 1px 0 0 #606060;
}

h1 {
	color: rgb(255, 112, 0);
	font-family: 'Bebas Neue', helvetica, trebuchet ms, serif;
	font-size: 64pt;
	margin-bottom: 14px;
	margin-top: 10px;
	text-align: center;
}
.centered {
	position: relative;
	top: 25%;
}
.centered h1 {
	font-size: 72pt;
	
}
h2 {

	font-family: 'Lobster Two', helvetica, trebuchet ms, serif;
	font-size: 36pt;
	margin-bottom: 14px;
	margin-top: 10px;
	text-align: center;
	line-height: 1.5em;
}

ul {
	padding: 20px 60px 10px 60px;
}

ul li {
	color: #121B28;
	font-size: 22pt;
	font-weight: normal;
	line-height: 30pt;
	margin-bottom: 24px;
	text-align: left;
}

ul li ul li {
	font-size: 18pt;
	margin-bottom: 0px;
}
ul li ul {
	list-style-type:circle
}

code, pre {
	font-family: monospace;
}
ul.small li {
	font-size: 18pt;
	line-height: 1.2em;
}

.big {
	font-size: 32pt;
	line-height: 1.5;
}

a {
	color: #75B143;
}

ul li ol {
	padding-left: 45px;
	border-left: 1px solid black;
}
/* 



*/

.code_example {
	padding-bottom: 20px;
}
.js_code {
	font-size: 16px;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	height: 300px;
}

.js_result {
	margin-top: 5px;
	border: 1px solid #aaa;
	font-family: monospace;
	font-size: 16px;
	
}

.snippet {
	font-family: monospace;
	font-size: 13px;
	line-height: 1em;
}

#ex2 {

}

.heartbg {
  background: url('images/lightheart.jpg') !important;
}
.angerbg {
  background: url('images/angrychild3.jpg') !important;
}

.brendaneich {
  background: url('images/brendaneich.jpg') !important;
}

.smalltext {
  font-size: 14px;
}